<a href="https://colab.research.google.com/github/HarshitSR2022/ML-Algo-Implement/blob/main/IBM_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [25]:
hospitalization = pd.read_csv('Hospitalisation details.csv')
medical_exams=pd.read_csv('Medical Examinations.csv')
names=pd.read_excel('Names.xlsx')

In [26]:
merged_data=pd.merge(hospitalization,medical_exams,on='Customer ID')
merged_data=pd.merge(merged_data,names,on='Customer ID')

In [5]:
print(merged_data)

     Customer ID  year month  date  children   charges Hospital tier  \
0         Id2335  1992   Jul     9         0    563.84      tier - 2
1         Id2334  1992   Nov    30         0    570.62      tier - 2
2         Id2333  1993   Jun    30         0    600.00      tier - 2
3         Id2332  1992   Sep    13         0    604.54      tier - 3
4         Id2331  1998   Jul    27         0    637.26      tier - 3
...          ...   ...   ...   ...       ...       ...           ...
2330         Id5  1989   Jun    19         0  55135.40      tier - 1
2331         Id4  1991   Jun     6         1  58571.07      tier - 1
2332         Id3  1970     ?    11         3  60021.40      tier - 1
2333         Id2  1977   Jun     8         0  62592.87      tier - 2
2334         Id1  1968   Oct    12         0  63770.43      tier - 1

     City tier State ID     BMI  HBA1C Heart Issues Any Transplants  \
0     tier - 3    R1013  17.580   4.51           No              No
1     tier - 1    R1013  17.600   4.39           No              No
2     tier - 1    R1013  16.470   6.35           No              No
3     tier - 3    R1013  17.700   6.28           No              No
4     tier - 3    R1013  22.340   5.57           No              No
...        ...      ...     ...    ...          ...             ...
2330  tier - 2    R1012  35.530   5.45           No              No
2331  tier - 3    R1024  38.095   6.05           No              No
2332  tier - 1    R1012  34.485  11.87          yes              No
2333  tier - 3    R1013  30.360   5.77           No              No
2334  tier - 3    R1013  47.410   7.47           No              No

     Cancer history NumberOfMajorSurgeries smoker  \
0                No                      1     No
1                No                      1     No
2               Yes                      1     No
3                No                      1     No
4                No                      1     No
...             ...                    ...    ...
2330             No       No major surgery    yes
2331             No       No major surgery    yes
2332             No                      2    yes
2333             No       No major surgery    yes
2334             No       No major surgery    yes

                                    name
0                   German, Mr.  Aaron K
1                 Rosendahl, Mr.  Evan P
2                     Albano, Ms.  Julie
3     Riveros Gonzalez, Mr.  Juan D. Sr.
4                  Brietzke, Mr.  Jordan
...                                  ...
2330                Kadala, Ms.  Kristyn
2331                Osborne, Ms.  Kelsey
2332                       Lu, Mr.  Phil
2333              Lehner, Mr.  Matthew D
2334                   Hawks, Ms.  Kelly

[2335 rows x 17 columns]

In [6]:
print(merged_data.isnull().sum())

Customer ID               0
year                      0
month                     0
date                      0
children                  0
charges                   0
Hospital tier             0
City tier                 0
State ID                  0
BMI                       0
HBA1C                     0
Heart Issues              0
Any Transplants           0
Cancer history            0
NumberOfMajorSurgeries    0
smoker                    0
name                      0
dtype: int64

In [27]:
merged_data.fillna(merged_data.mean(numeric_only=True),inplace=True)

In [8]:
print(merged_data)

     Customer ID  year month  date  children   charges Hospital tier  \
0         Id2335  1992   Jul     9         0    563.84      tier - 2
1         Id2334  1992   Nov    30         0    570.62      tier - 2
2         Id2333  1993   Jun    30         0    600.00      tier - 2
3         Id2332  1992   Sep    13         0    604.54      tier - 3
4         Id2331  1998   Jul    27         0    637.26      tier - 3
...          ...   ...   ...   ...       ...       ...           ...
2330         Id5  1989   Jun    19         0  55135.40      tier - 1
2331         Id4  1991   Jun     6         1  58571.07      tier - 1
2332         Id3  1970     ?    11         3  60021.40      tier - 1
2333         Id2  1977   Jun     8         0  62592.87      tier - 2
2334         Id1  1968   Oct    12         0  63770.43      tier - 1

     City tier State ID     BMI  HBA1C Heart Issues Any Transplants  \
0     tier - 3    R1013  17.580   4.51           No              No
1     tier - 1    R1013  17.600   4.39           No              No
2     tier - 1    R1013  16.470   6.35           No              No
3     tier - 3    R1013  17.700   6.28           No              No
4     tier - 3    R1013  22.340   5.57           No              No
...        ...      ...     ...    ...          ...             ...
2330  tier - 2    R1012  35.530   5.45           No              No
2331  tier - 3    R1024  38.095   6.05           No              No
2332  tier - 1    R1012  34.485  11.87          yes              No
2333  tier - 3    R1013  30.360   5.77           No              No
2334  tier - 3    R1013  47.410   7.47           No              No

     Cancer history NumberOfMajorSurgeries smoker  \
0                No                      1     No
1                No                      1     No
2               Yes                      1     No
3                No                      1     No
4                No                      1     No
...             ...                    ...    ...
2330             No       No major surgery    yes
2331             No       No major surgery    yes
2332             No                      2    yes
2333             No       No major surgery    yes
2334             No       No major surgery    yes

                                    name
0                   German, Mr.  Aaron K
1                 Rosendahl, Mr.  Evan P
2                     Albano, Ms.  Julie
3     Riveros Gonzalez, Mr.  Juan D. Sr.
4                  Brietzke, Mr.  Jordan
...                                  ...
2330                Kadala, Ms.  Kristyn
2331                Osborne, Ms.  Kelsey
2332                       Lu, Mr.  Phil
2333              Lehner, Mr.  Matthew D
2334                   Hawks, Ms.  Kelly

[2335 rows x 17 columns]

In [28]:
trivial_values = ['?']

In [34]:
trivial_rows = merged_data.isin(trivial_values).sum(axis=1) > 0
print(trivial_rows.sum())
print(len(merged_data))
percentage_trivial = (trivial_rows.sum() / len(merged_data)) * 100
print(f"Percentage of trivial rows: {percentage_trivial:.2f}%")

10
2335
Percentage of trivial rows: 0.43%

In [ ]:
merged_data = merged_data[~trivial_rows]